extends layout

block content
	h1 this is pugly
	h2 My Advice to You
	h3 Your breath smells funny because you eat too much #{food}
	p This is all because if your excessive consumption of #{drink}
	img(src="foo.png", alt=`${drink}`)
